name: run tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
      - dev
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, ubuntu-24.04-arm, windows-latest, windows-11-arm, macos-15-intel, macos-latest]
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-python@v5
        with:
          python-version: '3.14'

      - name: Install stable Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Install cibuildwheel
        run: python -m pip install cibuildwheel==3.2.1

      - name: Build wheels
        run: python -m cibuildwheel --output-dir wheelhouse
        env:
          CIBW_TEST_REQUIRES: pytest pytest-benchmark pyyaml
          CIBW_TEST_COMMAND: pytest {project}/tests
          CIBW_ENVIRONMENT: MACOSX_DEPLOYMENT_TARGET=10.12

      - uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl
