name: pre-commit

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
      - dev

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v5
      with:
        submodules: true
    - name: setup python
      uses: actions/setup-python@v5
      with:
        python-version: '3.14'

    - name: Install stable
      uses: dtolnay/rust-toolchain@stable
      with:
        components: rustfmt, clippy
    - name: cache rust
      uses: Swatinem/rust-cache@v2
      with:
        key: pre-commit-v0
    - name: set PY
      run: echo "name=PY::$(python -c 'import hashlib, sys;print(hashlib.sha256(sys.version.encode()+sys.executable.encode()).hexdigest())')" >> $GITHUB_ENV
    - uses: actions/cache@v4
      with:
        path: ~/.cache/pre-commit
        key: pre-commit|${{ env.PY }}|${{ hashFiles('.pre-commit-config.yaml') }}
    - uses: pre-commit/action@v3.0.1
